{% extends 'front/base.html' %}
{% block content %}
    <main class="main__content_wrapper">
        <div class="inner__page--content__style3">
            <div class="page__content--style3__padding">
                <div class="page__heading style3">
                    <h1 class="page__heading--title">ABOUT ME</h1>
                    <h2 class="page__heading--subtitle">ABOUT <span>ME</span></h2> 
                </div>
                <!-- Start about section -->
                <section class="about__section border__bottom section--padding">
                    <div class="about__section--inner d-flex">
                        <div class="about__content">
                            <div class="section__heading mb-30">
                                <span class="section__heading--subtitle text__secondary">About Me</span>
                                <h2 class="section__heading--title">{{aboutme.title}}</h2> 
                            </div>
                            <div class="about__info">
                                <h3 class="about__info--title text__secondary mb-20">Shaxsiy Malumotlar:</h3>
                                <ul class="about__info--wrapper d-block">
                                    <li class="about__info--items">Ism:{{aboutme.first_name}}</li>
                                    <li class="about__info--items">Familya:{{aboutme.last_name}}</li>
                                    <li class="about__info--items">Telefon: <a href="tel:{{aboutme.phone}}">{{aboutme.phone}}</a></li>
                                    <li class="about__info--items">Yosh:{{aboutme.age}}</li>
                                    <li class="about__info--items">Millati:{{aboutme.nationality}}</li>                                   
                                    <li class="about__info--items">Tillar:{{aboutme.language}}</li>
                                    <li class="about__info--items">Email:{{aboutme.email}}</li>
                                    <li class="about__info--items">Manzil:{{aboutme.address}}</li>
                                </ul>
                               
                            </div>
                        </div>
                        <div class="about__thumbnail">
                            <div class="about__thumbnail--media position__relative">
                                <img class="position__relative" src="{{aboutme.image.url}}" style="border-radius: 10px;box-shadow: -6px -6px 9px #4a4746;" alt="img">
                            </div>
                            <div class="about__experience text-center">
                                <h4 class="about__experience--title title-stroke">15+</h4>
                                <span class="about__experience--subtitle">Loyihalar</span>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End about section -->

                <!-- Start resume section -->
                <section class="resume__section section--padding">
                    <div class="section__heading--topbar d-flex align-items-center justify-content-between mb-50">
                        <div class="section__heading max-width-780">
                            <span class="section__heading--subtitle text__secondary">Ta'lim va Tajriba</span>
                            <h3 class="section__heading--title">O'qigan Joylarim va olgan Ta'limlarim  haqidagi ma'lumotlar</h3> 
                        </div>
                        <div class="section__heading--right max-width-450">
                            <p class="section__heading--desc"></p>
                        </div>
                    </div>
                    <div class="resume__section--inner d-block">
                        <div class="resume__step" style="margin-bottom: 20px;">
                            <div class="border__position--style"> </div>
                            {% for education in educations %}
                            <div class="resume__items">
                                <div class="border__round"></div>
                                <div class="resume__items--inner d-flex">
                                    <span class="resume__icons">
                                        <svg width="25" height="44" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M320 32c-8.1 0-16.1 1.4-23.7 4.1L15.8 137.4C6.3 140.9 0 149.9 0 160s6.3 19.1 15.8 22.6l57.9 20.9C57.3 229.3 48 259.8 48 291.9v28.1c0 28.4-10.8 57.7-22.3 80.8c-6.5 13-13.9 25.8-22.5 37.6C0 442.7-.9 448.3 .9 453.4s6 8.9 11.2 10.2l64 16c4.2 1.1 8.7 .3 12.4-2s6.3-6.1 7.1-10.4c8.6-42.8 4.3-81.2-2.1-108.7C90.3 344.3 86 329.8 80 316.5V291.9c0-30.2 10.2-58.7 27.9-81.5c12.9-15.5 29.6-28 49.2-35.7l157-61.7c8.2-3.2 17.5 .8 20.7 9s-.8 17.5-9 20.7l-157 61.7c-12.4 4.9-23.3 12.4-32.2 21.6l159.6 57.6c7.6 2.7 15.6 4.1 23.7 4.1s16.1-1.4 23.7-4.1L624.2 182.6c9.5-3.4 15.8-12.5 15.8-22.6s-6.3-19.1-15.8-22.6L343.7 36.1C336.1 33.4 328.1 32 320 32zM128 408c0 35.3 86 72 192 72s192-36.7 192-72L496.7 262.6 354.5 314c-11.1 4-22.8 6-34.5 6s-23.5-2-34.5-6L143.3 262.6 128 408z"></path></svg>                                    
                                    </span>
                                    <div class="resume__content">
                                        <div class="resume__content--top d-flex align-items-center mb-10">
                                            <h3 class="resume__content--title">{{education.major}}</h3>
                                            <span class="resume__content--subtitle">{{education.university}}</span>
                                        </div>
                                        <p class="resume__content--desc mb-20">{{education.body}}</p>
                                        <span class="resume__date">{{education.start_date}} : {{education.end_date}}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div><br>
                        <h3 class="section__heading--title">Olgan Tajribam va ishlagan joylarim haqidagi ma'lumotlar</h3><br>
                        <div class="resume__step" style="margin-bottom: 20px;">
                            <div class="border__position--style"> </div>
                            {% for experience in experiences %}
                            <div class="resume__items">
                                <div class="border__round"></div>
                                <div class="resume__items--inner d-flex">
                                    <span class="resume__icons">
                                        <svg width="25" height="40" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96H64C28.7 96 0 124.7 0 160v96H192 320 512V160c0-35.3-28.7-64-64-64H384V56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM512 288H320v32c0 17.7-14.3 32-32 32H224c-17.7 0-32-14.3-32-32V288H0V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V288z"></path></svg>                                     
                                    </span>
                                    <div class="resume__content">
                                        <div class="resume__content--top d-flex align-items-center mb-10">
                                            <h3 class="resume__content--title">{{experience.position}}</h3>
                                            <span class="resume__content--subtitle">{{experience.company}}</span>
                                        </div>
                                        <p class="resume__content--desc mb-20">{{experience.body}}</p>
                                        <span class="resume__date">{{experience.start_date}} : {{experience.end_date}}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                   
                        </div>
                        
                    </div>
                </section>
                <!-- End resume section -->

                <!-- Start skills Section -->
                <section class="skills__section section--padding pt-0">
                    <div class="section__heading--topbar d-flex align-items-center justify-content-between mb-50">
                        <div class="section__heading max-width-780">
                            <span class="section__heading--subtitle text__secondary">Skillar</span>
                            <h2 class="section__heading--title">O'qish va ish mobaynida o'rgangan texnalogiyalarim</h2> 
                        </div>
                        
                    </div>
                    <div class="skills__section--inner d-flex justify-content-between">
                        <div class="skills__step">

                            {% for skill in skills1 %}
                            <div class="skills__items">
                                <div class="skills__text">
                                    <span class="skills__name">{{skill.skill}}</span>
                                    <span class="skills__count width_{{skill.percentage}}">{{skill.percentage}}%</span>
                                </div>
                                <div class="skills__field width_{{skill.percentage}}">
                                    
                                </div>
                            </div>
                            {% endfor %}
                           
                        </div>
                        <div class="skills__step">

                            {% for skill in skills2 %}
                            <div class="skills__items">
                                <div class="skills__text">
                                    <span class="skills__name">{{skill.skill}}</span>
                                    <span class="skills__count width_{{skill.percentage}}">{{skill.percentage}}%</span>
                                </div>
                                <div class="skills__field width_{{skill.percentage}}">
                                    
                                </div>
                            </div>
                            {% endfor %}
                           
                        </div>
                     
                     
                    </div>
                </section>
                <!-- End skills Section -->

                <!-- Start brand section -->
                <!-- <div class="brand__section brand__section--bg section--padding pt-0">
                    <div class="brand__section--inner">
                        <div class="brand__logo--child">
                            <div class="brand__logo--items">
                                <img class="brand__logo--img brand_logo_light" src="assets/img/logo/brand1.png" alt="brand-logo">
                                <img class="brand__logo--img brand_logo_dark" src="assets/img/logo/dark-log-1.png" alt="brand-logo">
                            </div>
                            <div class="brand__logo--items">
                                <img class="brand__logo--img brand_logo_light" src="assets/img/logo/brand2.png" alt="brand-logo">
                                <img class="brand__logo--img brand_logo_dark" src="assets/img/logo/dark-log-2.png" alt="brand-logo">
                            </div>
                        </div>
                        <div class="brand__logo--child">
                            <div class="brand__logo--items">
                                <img class="brand__logo--img brand_logo_light" src="assets/img/logo/brand3.png" alt="brand-logo">
                                <img class="brand__logo--img brand_logo_dark" src="assets/img/logo/dark-log-3.png" alt="brand-logo">
                            </div>
                            <div class="brand__logo--items">
                                <img class="brand__logo--img brand_logo_light" src="assets/img/logo/brand4.png" alt="brand-logo">
                                <img class="brand__logo--img brand_logo_dark" src="assets/img/logo/dark-log-4.png" alt="brand-logo">
                            </div>
                        </div>
                        <div class="brand__logo--child">
                            <div class="brand__logo--items">
                                <img class="brand__logo--img brand_logo_light" src="assets/img/logo/brand5.png" alt="brand-logo">
                                <img class="brand__logo--img brand_logo_dark" src="assets/img/logo/dark-log-5.png" alt="brand-logo">
                            </div>
                            <div class="brand__logo--items">
                                <img class="brand__logo--img brand_logo_light" src="assets/img/logo/brand6.png" alt="brand-logo">
                                <img class="brand__logo--img brand_logo_dark" src="assets/img/logo/dark-log-6.png" alt="brand-logo">
                            </div>
                        </div>
                        <div class="brand__logo--child">
                            <div class="brand__logo--items">
                                <img class="brand__logo--img brand_logo_light" src="assets/img/logo/brand7.png" alt="brand-logo">
                                <img class="brand__logo--img brand_logo_dark" src="assets/img/logo/dark-log-7.png" alt="brand-logo">
                            </div>
                            <div class="brand__logo--items">
                                <img class="brand__logo--img brand_logo_light" src="assets/img/logo/brand8.png" alt="brand-logo">
                                <img class="brand__logo--img brand_logo_dark" src="assets/img/logo/dark-log-8.png" alt="brand-logo">
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- End brand section -->
            </div>
        </div>

    </main>
{% endblock %}